/* Category Selection Styles */
.container {
  text-align: center;
  width: 400px;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

select,
input {
  font-size: 1rem;
  width: 60%;
}

button {
  margin-top: 20px;
  background-color: blue;
}
