/* Result Page Styles .container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #6c63ff;
}

p {
  font-size: 1.5rem;
  margin: 20px 0;
}
.results-actions a button {
  width: 50px;
}
.result-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.result-navigation button {
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.result-navigation button:hover {
  background-color: #4a4e69;
  transform: scale(1.05);
}

.result-navigation button:focus {
  outline: none;
} */
