/* Welcome Page Styles */
.welcome-container {
  text-align: center;
  padding: 40px;
  animation: fadeIn 1.2s ease-in-out;
  width: 500px;
  margin: auto;
}
body {
}
.welcome-container h1 {
  font-size: 3rem;
  color: #6c63ff;
}

.welcome-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.welcome-container button {
  font-size: 1.2rem;
  padding: 15px 30px;
  margin: auto;
  max-width: 150px;
  background-color: blue;
}
