/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f9;
  color: #333;
}
.outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 15px;
}
h1,
h2,
h3 {
  color: #4a4e69;
  text-align: center;
}
a {
  text-decoration: none;
}
button {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;

  margin: 5px;
  transition: transform 0.2s, background-color 0.2s;
}

button:hover {
  background-color: #4a4e69;
  transform: scale(1.05);
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input,
select {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 80%;
}

/* Fade-in Animation */
.fade-in {
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
  .results-action a button {
    width: fit-content;
  }
  a {
    text-decoration: none;
  }
  button {
    width: fit-content;
    margin: 10px 0;
  }
}
